body {
    width: 1920px;
    height: 1080px;
    background: #fff;
    margin: 0;
    font-family: "IBM Plex Mono", serif;
}

header {

    width: 1920px;
    height: 60px;
    background: #d9d9d9;
}

main {
    display: flex;
}

.nav {
    margin-top: 21px;
    margin-left: 100px;
    box-sizing: border-box;
    border: none;
    width: 280px;
    height: 530px;
}

.search {

    border-radius: 5px;
    width: 280px;
    height: 30px;
    background: rgba(217, 217, 217, 0.7);
}

.search__input {
    text-decoration: underline;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #444;
    border: none;
    background: none;

}

.search__img {
    margin-top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.btn {
    margin-top: 10px;
}

.btn__input {
    font-weight: 600;
    font-size: 16px;
    color: #444;
    margin-top: 5px;
    margin-left: 4px;
    border: none;
    background: none;
}

.btn__img {
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-left: 5px;
}

.category {
    margin-top: 10px;
    margin-bottom: 0;
}

.category__label {
    display: flex;
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.category__icon-nav {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.category__input {
    border-radius: 5px;
    width: 280px;
    height: 30px;
    border: none;
    background: rgba(217, 217, 217, 0.7);
}

.time {
    margin-top: 10px;
}

.time__label {
    display: flex;
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.time__icon-nav {
    width: 30px;
    height: 30px;

}

.time__input {
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background: rgba(217, 217, 217, 0.7);
    border: none;
    text-align: center;
}

.time__separator {
    border-radius: 5px;
    width: 10px;
    height: 2px;
    margin: 14px 5px;
}

.time__checkbox {
    border: 1px solid #000;
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

.time__checkbox::placeholder {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

.people {
    margin-top: 10px;
}

.people__label {
    display: flex;
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.people__icon-nav {
    width: 30px;
    height: 30px;
}

.people__input {
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background: rgba(217, 217, 217, 0.7);
    border: none;
    text-align: center;
}

.people__separator {
    border-radius: 5px;
    width: 10px;
    height: 2px;
    margin: 14px 5px;
}

.difficulty__label {
    margin-top: 10px;
    display: flex;
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.difficulty__icon-nav {
    width: 30px;
    height: 30px;

}

.difficulty {
    margin-top: 10px;
}

.stars {
    margin-top: 10px;
}

.stars__label {
    display: flex;
    width: 150px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
}

.stars__icon-nav {
    width: 30px;
    height: 30px;
}

.stars__input {
    border-radius: 5px;
    width: 130px;
    height: 30px;
    background: rgba(217, 217, 217, 0.7);
    border: none;
    text-align: center;
}

.stars__separator {
    border-radius: 5px;
    width: 10px;
    height: 2px;
    margin: 14px 5px;
}

.apply__button {
    margin-top: 10px;
    border-radius: 10px;
    width: 280px;
    height: 40px;
    background: #000;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: #fff;
}

.section {
    margin-left: 20px;
}

.wrapper__img {
    border-radius: 15px;
    width: 700px;
    height: 350px;
    background: #d9d9d9;
}

.wrapper__name {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    color: #000;
}

.wrapper__parametrs {
    display: flex;
}

.category__block {
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
}

.category__icon {
    margin-right: 0;
    width: 20px;
    height: 20px;
}

.category__text {
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

.time__block {
    margin-left: 10px;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    display: flex;
}

.time__icon {
    width: 17px;
    height: 17px;
}

.time__text {
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    color: #444;
    margin-left: 5px;
}

.people__block {
    margin-left: 10px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    display: flex;
}

.people__icon {
    width: 20px;
    height: 20px;
}

.people__text {
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
}


.star__block {
    border-radius: 10px;
    width: 66px;
    height: 30px;
    display: flex;
}

.star__icon {
    width: 20px;
    height: 20px;
}

.star__text {
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
}

.hard__block {
    margin-left: 10px;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    display: flex;
}

.hard__icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.hard__text {
    width: 20px;
    height: 20px;
}

.tag__block {
    margin-left: 10px;
    height: 30px;
    display: flex;
}

.tag__icon {
    width: 20px;
    height: 20px;
}

.tag__text {
    margin-left: 10px;
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

.sec-1 {
    margin-top: 21px;
    display: flex;
}

.sec-2 {
    margin-top: 20px;
    display: flex;
}

.wrapper-1 {
    width: 700px;
    height: 420px;
}

.wrapper-2 {
    margin-left: 20px;
    width: 700px;
    height: 420px;
}

.wrapper-3 {
    width: 700px;
    height: 420px;
}

.wrapper-4 {
    margin-left: 20px;
    width: 700px;
    height: 420px;
}

.input {
    display: flex;
}

































@media (max-width: 1024px) {
    body {
        max-width: 1024px;
    }

    .nav {
        margin-top: 20px;
        margin-left: 20px;
        width: 280px;
        height: 530px;
    }

    .wrapper__img {
        width: 650px;
        height: 300px;
    }

    .sec-1 {
        flex-direction: column
    }

    .sec-2 {
        flex-direction: column;
    }

    .wrapper-1 {
        margin-left: 0;
        width: 650px;
        height: 400px;
    }

    .wrapper-2 {
        margin-left: 0;
        width: 650px;
        height: 400px;
    }

    .wrapper-3 {
        margin-left: 0;
        width: 650px;
        height: 400px;
    }

    .wrapper-4 {
        margin-left: 0;
        width: 650px;
        height: 400px;
    }

    .wrapper__name {
        margin-left: 5px;
    }

    .category__block {
        margin-left: 5px;
    }
}





























@media (max-width: 768px) {

    body {
        max-width: 768px;
    }

    .nav {
        margin-top: 10px;
        margin-left: 10px;
        width: 220px;
        height: 530px;
    }

    .wrapper__img {
        width: 500px;
        height: 250px;
    }

    .sec-1 {
        flex-direction: column
    }

    .sec-2 {
        flex-direction: column;
    }

    .wrapper-1 {
        margin-left: 0;
        width: 500px;
        height: 320px;
    }

    .wrapper-2 {
        margin-left: 0;
        width: 500px;
        height: 320px;
    }

    .wrapper-3 {
        margin-left: 0;
        width: 500px;
        height: 320px;
    }

    .wrapper-4 {
        margin-left: 0;
        width: 500px;
        height: 320px;
    }

    .wrapper__name {
        margin-left: 5px;
    }

    .category__block {
        margin-left: 5px;
    }

    .tag__block {
        display: none;
    }

    /* /////////////////////////////////////////////// */

    .search {
        width: 220px;
        height: 25px;
        display: flex;
    }

    .search__input {
        margin-left: 10px;
        margin-top: 0px;

    }

    .search__img {
        margin-top: 5px;
        margin-left: 5px;
        width: 15px;
        height: 15px;
    }

    .btn {
        width: 220px;
        height: 25px;
        display: flex;
    }

    .btn__input {
        margin-left: 10px;
        margin-top: 0px;
    }

    .btn__img {
        margin-top: 5px;
        margin-left: 5px;
        width: 15px;
        height: 15px;
    }

    .category {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .category__label {
        width: 150px;
        height: 2px;
    }

    .category__icon-nav {
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }

    .category__input {
        margin-top: 5px;
        width: 220px;
        height: 25px;
    }

    .time {
        margin-top: 10px;
    }

    .time__label {
        width: 150px;
        height: 2px;
    }

    .time__icon-nav {
        width: 20px;
        height: 20px;

    }

    .time__input {
        margin-top: 5px;
        width: 130px;
        height: 30px;
    }

    .time__separator {
        width: 10px;
        height: 2px;
        margin: 20px 5px;
    }

    .time__checkbox {
        width: 20px;
        height: 20px;
    }

    .people {
        margin-top: 10px;
    }

    .people__label {
        width: 150px;
        height: 2px;
    }

    .people__icon-nav {
        width: 20px;
        height: 20px;
    }

    .people__input {
        margin-top: 5px;
        width: 130px;
        height: 30px;
    }

    .people__separator {
        width: 10px;
        height: 2px;
        margin: 20px 5px;
    }

    .difficulty__label {
        margin-top: 10px;
        width: 150px;
        height: 2px;
    }

    .difficulty__icon-nav {
        width: 20px;
        height: 20px;

    }

    .difficulty {
        margin-top: 10px;
    }

    .stars {
        margin-top: 10px;
    }

    .stars__label {
        width: 150px;
        height: 2px;
    }

    .stars__icon-nav {
        width: 20px;
        height: 20px;
    }

    .stars__input {
        margin-top: 5px;
        width: 130px;
        height: 30px;
    }

    .stars__separator {
        width: 10px;
        height: 2px;
        margin: 20px 5px;
    }

    .apply__button {
        font-size: 20px;
        margin-top: 5px;
        width: 220px;
        height: 30px;
    }

    /* ?????????????????????????? */
    .category__icon {
        width: 15px;
        height: 15px;
        margin: 0;
    }

    .category__text {
        margin-left: 5px;
    }

    .time__block {
        margin-left: 5px;
    }

    .time__icon {
        width: 15px;
        height: 15px;
    }

    .time__text {
        margin-left: 5px;
    }

    .people__block {
        margin-left: 5px;
    }

    .people__icon {
        width: 15px;
        height: 15px;
    }

    .people__text {
        margin-left: 5px;
    }

    .star__icon {
        width: 15px;
        height: 15px;
    }

    .star__text {
        margin-left: 5px;
    }

    .hard__block {
        margin-left: 5px;
    }

    .hard__icon {
        width: 15px;
        height: 15px;
    }

    .hard__text {
        width: 15px;
        height: 15px;
    }
    
    

}















@media (max-width: 320px) {
    body {
        max-width: 320px;
    }

    .nav {
        display: none;
    }

    .wrapper__img {
        width: 300px;
        height: 150px;
    }

    .section {
        margin-left: 10px;
    }

    .sec-1 {
        flex-direction: column
    }

    .sec-2 {
        flex-direction: column;
    }

    .wrapper-1 {
        margin-left: 0;
        width: 300px;
        height: 250px;
    }

    .wrapper-2 {
        margin-left: 0;
        width: 300px;
        height: 250px;
    }

    .wrapper-3 {
        margin-left: 0;
        width: 300px;
        height: 250px;
    }

    .wrapper-4 {
        margin-left: 0;
        width: 300px;
        height: 250px;
    }

    .wrapper__name {
        margin-left: 5px;
    }

    .category__block {
        margin-left: 5px;
    }
    .wrapper__parametrs {
        display: flex;
        flex-wrap: wrap;
    }

}