body {
    width: 1080px;
    height: 640px;
    background: #000d3a;
    
}

.block {
    margin-left: 258px;
    margin-top: 98px;
    border-radius: 30px;
    width: 564px;
    height: 444px;
    background: #6c91c5;
}

.logo {
    margin-top: 24px;
    margin-left: 186px;
    width: 192px;
    height: 60px;
}

.btn-s {
    margin-left: 161px;
    margin-top: 44px;
    font-weight: 600;
    font-size: 24px;
}

.login {
    font-family: "IBM Plex Mono", serif;
    text-decoration: none;
    color: #c0c0c8;
}

.signin {
    font-family: "IBM Plex Mono", serif;
    margin-left: 40px;
    text-decoration: none;
    color: #000d3a;
    
    
}

.email {
    padding-left: 24px;
    margin-left: 60px;
    margin-top: 24px;
    font-family: "IBM Plex Mono", serif;
    border: none;
    border-radius: 30px;
    width: 444px;
    height: 64px;
    background: #c0c0c8;
    font-weight: 600;
    font-size: 24px;
    color: #6c91c5;
}

.password {
    padding-left: 24px;
    margin-left: 60px;
    margin-top: 24px;
    font-family: "IBM Plex Mono", serif;
    border: none;
    border-radius: 30px;
    width: 444px;
    height: 64px;
    background: #c0c0c8;
    font-weight: 600;
    font-size: 24px;
    color: #6c91c5;
}

.btn{
    margin-left: 160px;
    margin-top: 24px;
    border-radius: 30px;
    width: 244px;
    height: 64px;
    background: #bebec8;
    border: none;
}

.btn-log {
    font-family: "IBM Plex Mono", serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: #6c91c5;
}


@media (max-width: 1024px) {
    body {
        width: 1024px;
        
    }
    
    .block {
        align-items: center;
        justify-content: center;
    }
    
}


@media (max-width: 768px) {
    body {
        width: 768px;
        
    }
    
    .block {
        margin-top: 100px;
        margin-left: 100px;
    }
    
}


@media (max-width: 320px) {
    body {
        width: 320px;
        
    }
    
    .block {
        width: 220px;
        height: 300px;
        margin-top: 50px;
        margin-left: 50px;
    }


    .logo {
        margin-top: 12px;
        margin-left: 60px;
        width: 80px;
        height: 30px;
    }
    
    .btn-s {
        margin-left: 40px;
        margin-top: 12px;
        font-size: 14px;
    }
    
    
    .signin {
        margin-left: 16px;
    }
    
    .email {
        padding-left: 24px;
        margin-left: 24px;
        margin-top: 24px;
        width: 140px;
        height: 20px;
        font-size: 14px;
    }
    
    .password {
        padding-left: 24px;
        margin-left: 24px;
        margin-top: 24px;
        width: 140px;
        height: 20px;
        font-size: 14px;
    }
    
    .btn{
        padding-left: 24px;
        margin-left: 24px;
        margin-top: 24px;
        width: 140px;
        height: 20px;
    }
    
    .btn-log {
        display: flex;
        justify-content: center;
        
        font-size: 14px;
    }
    
}



